#!/bin/bash
HOME_DIR=/opt/faxkup
TIMESTAMP=$(date +%Y-%m-%d)
CURRENT_DIR=$HOME_DIR
ORACLE_SO_USER="operative_system_oracle_username"
ORACLE_DB_SYSTEM_USER="oracle_database_system_username"
ORACLE_DB_SYSTEM_PASSWORD="oracle_database_system_password"
BACKUP_SCHEMAS_LIST=$CURRENT_DIR/schemas.list
ORACLE_DATA_PUMP_DIR=/path/to/datapump/dir
ORACLE_BACKUP_DIR="data_pump_dir"
AWS_ACCESS_KEY_ID="ACCESS_KEY"
AWS_SECRET_ACCESS_KEY="ACCESS_SECRET"
AWS_DEFAULT_REGION="REGION"
AWS_S3_BUCKET="bucket_name"
AWS_S3_BUCKET_FOLDER="bucket_folder_name"
BACKUP_MODE="compact"
SNS_ARN="aws_sns_arn_info"
SNS_MESSAGE=""
LOG_PATH=$CURRENT_DIR
LOG_FILE=faxkup.log
